@media only screen and (min-width:60em) {
  header, footer {
    background-color: #1cb3c8;
    color:#000000;
  }

  section h2 {
    background-color: #4d606e;
    color:#ffffff;
  }
  
  section img {
    width: 284px;
    height: 450px;
  }
  
  main {
      grid-template-columns: 1fr 1fr 1fr;
    }
  footer a {
      color: #000000;
  }
  }