@media only screen and (min-width:37.5em) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }

  header, footer {
    background-color: #4d606e;
  }

  section h2 {
    background-color: #1cb3c8;
    color:#000000;
  }
    
  main {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 15px;
      grid-column-gap: 20px;
    }
  }