body {
    max-width: 960px;
    margin: 0 auto;
    background-color: #c0c5cd;
  }
h1 {
    font-family:"Hachi Maru Pop";
    background-color:#444f5a;
    padding: 1rem;
    color:#ffffff;
    text-align: center;}  

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap:15px;
    justify-items: center;
  }
img[data-src] {
    filter: blur(0.2em);
  }

img {
    filter: blur(0em);
    transition: filter 0.5s;
    justify-content:center;
    box-shadow: 5px 5px 10px;
  }

footer {
    margin-top: 20px;
    background-color:#c0c5cd;
    color: #444f5a;
    padding: 0;
    text-align: center;
    font-family:"Open Sans";
}


.footer-bar p {
    margin: 0;
    padding: 10px;
}

.footer-bar {
    padding: 10px 0;
    background-color: #444f5a; 
    color:#ffffff;  
    text-align: center;
    font-family:"Open Sans"; 
    font-size:20px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover{
  font-weight:bold;
}
