@media only screen and (min-width: 43.5rem) {
/*---------------header---------------------*/
.topheader picture img{
    margin-top:20px;
    width:80%;
    height:80%;
}
h1{
    font-size:2em;
}
.motto{
    font-size:1.2em;
}


.sitehead{
    margin-top:70px;
    margin-left:20px;
}

 /*-----------------navigation------------------*/
 
    .navigation {
        display: flex;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    
    .navigation a {
        text-align: center;
    }
    
    .navigation li:first-child {
        display: none;
    }
    
    .motto{
        display:block;
    }
/*---------------join now-------------*/
.photo-hero .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  

/*-------------------weatherbox-------------------*/
.weatherbox {   
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    opacity: .6;
    background-color:#FFA015;
}


/*-------------------3-day forecast---------------*/

.threeday{
    color:#ffffff;
    text-shadow: 2px 2px 4px #000000;
}
/*------------------events-----------------------*/
.events { 
    width:50%;
    color:#00A7EA;
    padding: 10px;
    background-color: #000000;
    text-align: center;
}
.events ul{
    list-style-type:none;
}



/*------------------towns--------------------------*/

.towns-box{
    font-size:1.3em;
}
.indybasic{
    font-size:2em;
}
/*------------------contact information------------*/
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.contact-info {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding:20px;
}
.map-responsive{
    grid-column:2;
    grid-row:1;
}



.map-contact{
    margin:auto;
    width:30%;
    height:30%;
    border: 2px solid #ffffff;
    
}
/*---------------------section---------------------*/

.localCo{
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 20px;
}

.local{
    font-size:2rem;
}

/*-------------------goal-container-----------*/
.goal-container img{
    float:right;
    width: 300px;
    height:200px;
    box-shadow: 0 0 20px #000000;
    margin:10px;
}

.goal{
    font-size:2rem;
}
/*------------------form-----------------------*/
form {
    max-width: 460px;
  }
table{
    width:80%;
}
/*--------------city-history--------------*/
.history-box{
    grid-template-columns: 1fr 1fr 1fr;
}
.city-history{
    font-size:2em;
}
.history-P{
    font-size:1.5em;
}

/*----------------contact us-----------------*/
.column {
    width: 50%;
  }
.column img{
    width:35%;
}
}