body {
    font-size:18px;
    background-color:#EBEBEB;
    font-family:"Lato";
}

main{
    background-color:#EBEBEB;
    max-width:auto;
}

h1, h2, h3 {
    font-family:"Suez One";
}


h2 {
    color: #000000;
    padding:0.5em;
}
 

header, main, footer, nav {
    margin: auto;
}

/*---------------header---------------------*/

.topheader {
    background-color:#000000;
    color:#ffffff;
    text-align: center;
    padding: 15px;
    display: flex;
	align-items:left;
	justify-content:flex-start;
}
.topheader picture img{
    margin-top:80px;
    width:100px;
    height:110px;
}
h1{
    font-size:1.5em;
    text-align: left;
    margin:0;
    color:#FFA015;
}
h1:hover{
    color:#ffffff;
    cursor: pointer;
}
.motto{
    font-size:1em;
    text-align: left;
    margin:0;
    display:none;
    color:#ffffff;
}
.motto:hover{
    color:#00A7EA;
    cursor: pointer;
}
.sitehead{
    margin-top:100px;
    background-color: #000000;
    border:none;
}
@media only screen and (max-width: 17.125rem) {
h1{
    font-size:0.8em;
}
.topheader picture img{
    width:50px;
    height:60px;
}
}

.hero-container{
    width:100%;
}
.photo-hero img{
    width:100%;
    padding:0px;
}
.hero-container picture img:hover{
    cursor: pointer; 
    box-shadow: 8px 8px 12px ;
} 


/*---------------join now------------*/
.photo-hero .btn {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: #FFA015;
    color:#ffffff;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    border:3px groove #ffffff;
  }
  .photo-hero .btn:hover {
    background-color: #000000;
    color: #FFA015;
  }
  

/*---------------weatherbox-----------------*/
.weatherbox {  
    width:100%; 
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    opacity: .6;
    margin:auto;
    margin-top:20px;
}
/*--------------weather summary-------------*/
.weather-summary {   
    text-align: center;
    background-color: #000000;
    padding: 10px;
    font-family:"Lato";
    color:#ffffff;
 }
 .weatherbox:hover{
    cursor: pointer;
    background-color: #00A7EA;
}

/*--------------3-day forecast--------------*/
.forecast_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px,1fr));
    gap: 2px;
    color:#ffffff;
}

.forecast{
    text-align:center;
    padding:0.5rem;
    background-color:#000000;
    border: 1px solid #000000;
    flex-direction: column;
}


.threeday{
    color: #ffffff;
    text-shadow: 1px 1px 4px #000000;
    font-size:25px;
}
/*---------------events--------------------*/

.events { 
    width:100%;
    color:#00A7EA;
    padding: 10px;
    background-color: #000000;
    text-align: center;
    margin:auto;
    margin-top:30px;
}
.events ul{
    list-style-type:square;;
}

.events:hover{
    cursor: pointer;
    opacity: .8;
    color:#FFA015;
    font-size:25px;
    border:2px double #ffffff;
}

.events h3 {
    text-align: center;
    border-bottom-width:1px;
    border-bottom-color:#00A7EA;
    border-bottom-style: solid;
    padding-bottom: 5px ;
}
.events h3:hover{
    border-bottom-color:#ffffff;
}

/*---------------towns----------------------*/
.towns-box {
    margin: 0 auto;
    max-width: 1000px;
    padding:20px;
    background: radial-gradient(#ffffff, #EBEBEB);
    text-align: center;
}


.towns section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 10% 10% 10% 10% 10%;
    padding: 20px;
    width: 360px;
    height:500px;
    width:60%;
    height:100%;
    box-shadow: 0 0 10px #000000;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 0 10px;
    align-items: center;
    justify-items: center;
    background: radial-gradient(#ffffff, #EBEBEB);
  }
  
  
.towns img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
  }
.towns img:hover{
    box-shadow: 0 0 10px #000000;
}
 
.towns p {
    text-align: center;
    font-size:16px;
    font-weight:bold;
    font-style:italic;
  }
.towns p1, p2, p3, p4, p5 {
    font-size:20px;
}
  
.towns p0 {
    padding:5px 0 0 0;
    margin: 15px 0 0;
    font-size:1.5em;
    text-shadow:1px 1px 3px #ffffff;
    font-weight:bold;
  }
.towns p:hover, .towns p1:hover, .towns p2:hover, .towns p3:hover, .towns p0:hover, .towns p4:hover, .towns p5:hover{
    font-weight:bold;
    color: #00A7EA;
}
/*---------------navigation-----------------*/ 
 
nav{
    background-color:#00A7EA;
    text-align:center;
    margin:0 auto;
}
nav ul{
    list-style-type:none;
    margin:0 auto;
    font-size:20px;
    padding:5px;
}

nav ul li a {
    display:block;
    color:#000000;
    text-align:center;
    padding:10px;
    font-family: "Lato";
    text-decoration: none;
}

nav a:hover {
    background-color:#A1E0F7;
    color:#000000;
    font-weight:bold;
    border: #ffffff dashed 2px;
    cursor: pointer;
}
.active {
    color:#000000;
    background-color:#FFA015;
    font-weight:bold;
}

/*------------------toggleMenu-----------------*/
.navigation{
    list-style:none;
    padding:0;
}

.navigation li{
    display:none;
}

.navigation li:first-child {
    display: block;
}

.navigation a{
    display:block;
    padding:0.9rem;
    text-align:center;
    text-decoration:none;
    font-family:"Lato";
    color:#000000;
}

.navigation a:hover{
    color:#000000;
    background-color:#A1E0F7;
    cursor: pointer;
}

.responsive li {
    display:block;
}
/*----------------footer-bar-----------------*/
.footer-bar{
    font-size:18px;
    background-color:#000000;
    color:#00A7EA;
    padding:10px;
    text-align:center;
    font-family:"Lato";
}
footer a {
    color: #FFA015;
    text-decoration: none;
 }

footer a:hover{
    font-weight:bold;
}
.contact-info h3:hover{
    color:#ffffff;
    font-size:2rem;
}
.social-media a:hover{
    opacity: 0.7;
}
/*-------------contact-container-----------*/
.contact-container{
    padding: 10px 0 0 0;
    margin: auto;
    background-color:#000000;
    color:#00A7EA;
    max-width:960px;
}

.map-responsive{
    display: block;
    margin: 0;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    box-sizing: border-box;
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}




.contact-info {
    padding: 0 0 10px 0;
    text-align: center;
   
}

.contact-info p {
    padding: 5px;
}
.contact-info p:nth-of-type(odd){
    color:#FFA015;
}
.contact-info p:hover{
    font-weight:bold;
    color:#ffffff;
    cursor: pointer;
    font-size: 1.2rem;
}
.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 10px;    
}
/*---------------section-------------------*/
section {
    background-color:#EBEBEB;
    margin: 0 0 20px; 
    padding:10px; 
    border-style: solid;
    border-color: #ffffff;
    border-width:3px;
   
  }
  section:hover{
      background-color:#ffffff ;
  }
  
  section img {
    width: 100%;
    margin-top:10px;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #b1b1b1;
  }
  section img:hover{
      cursor: pointer;
      box-shadow: 0 0 10px #000000;

  }
  
  section a {
    color: #ffffff; 
    text-shadow: 1px 1px 4px #000000;
    margin-top:10px; 
    font-size:1.2rem;
    text-decoration: none;
    text-align: center;
  }
  
  section a:hover{
    color:#00A7EA;
  }
  section p {
    padding:10px;
    color: #000000;
    font-size:20px;
  }
 
  .localCo {
    max-width:1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding:15px;
  }

  .local{
      padding:10px;
      color:#FFA015;
      text-shadow: 1px 1px 3px #000000;
      text-align: center;
      font-size:1.2rem;
  }
  .local:hover{
      color:#ffffff;
      cursor: pointer;
    }
  
  
 /*-----------------goal-container--------------*/
 .goal-container{
     max-width:960px;
     margin:auto;
     background-color:#EBEBEB;
     color:#000000;
     padding:20Px;
     /*border: 2px solid #b1b1b1;*/
 } 
 .goal-container img{
     width:100%;
     margin:0; 
    }
.goal-container img:hover{
    cursor: pointer;
    box-shadow: 0 0 30px #000000;
    }
.goal{
    text-align: center;
    font-size:1.2rem;
    padding:10px;
    color:#FFA015;
    text-shadow: 1px 1px 3px #000000;
}
.goal:hover{
    cursor: pointer;
    color:#ffffff;
}
.p1:hover{
    background-color:#b1b1b1;
    cursor: pointer;
}
li:hover{
    background-color:#b1b1b1;
    cursor: pointer;
    color:#000000;
}

/*------------------form-------------------*/
form {
    max-width: 360px;
    margin: 0 auto;
    padding:15px;
  }

form fieldset {
    margin: 2rem 0;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 1rem 10%;
    background-color:#EBEBEB;  
}


form legend {
    color: #ffffff;
    margin: 0 1rem;
    border-radius: 10px;
    text-align: left;  
    font-weight:bold;
    background-color: #000000;
    padding: 5px 10px;
}
  


form label.top, form div {
    display: block;
    margin-bottom: 20px;
    margin-top:10px;
    color: #000000;
    font-size: 1rem;
    
}


form label.top input, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0.75rem;
    color: #444f5a;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height:1.3;
}
form label.top input:hover, form label.top:hover textarea:hover{
    cursor: pointer;
    background-color:#A1E0F7;
}
form span {
    margin-top: 4%;
    font-weight: 800;
}
span.req {
    color: 	red;
    margin: 0;
    font-size:18px;
}



.value {
    color: #000000;
    font-weight: bold;
    font-size:16px;
    text-align: right;
}

form label.mem {
    display: block;
    padding: 5px;
    color: #000000;
}


form textarea {
    height: 10rem;
}

form input.submitButton {
    border: none;
    background-color: #FFA015;
    color: #ffffff;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto;
    width:100%;
    max-width: 300px;
    display:block;
    font-weight:bold;
}
form input.submitButton:hover {
    cursor: pointer;
    background-color: #000000;
    cursor: pointer;
    color:#FFA015;
}

form label.top input:required {
    border-left: red solid 6px;
}


form label.top input:required:valid {
    border-left: green solid 6px;
}
/*.more{
    padding:5px;
    background-color:#b1b1b1;
    
}*/
.benefit{
    text-align: center;
    color: #b1b1b1;
    text-shadow: 1px 1px 2px #000000;
    font-size:1em;
}
.mem-form{
    text-align: center;
    color: #b1b1b1;
    text-shadow: 1px 1px 2px #000000;
    font-size:1em;
}
/*----------------confirm-container--------------------*/
.confirm-container{
    max-width:960px;
    background-color:#EBEBEB;
    text-align: center;
    margin:auto;
    padding:20px;
    font-size:20px;
}
.confirm-container img{
    width:100%;
    max-width:400px;
    border:1px solid #00A7EA;
}
.confirm-container img:hover{
    cursor: pointer;
    box-shadow: 0 0 20px #000000;
}
.confirm-container a{
    color:#00A7EA;
    text-decoration: none;
}
.confirm-container a:hover{
    text-decoration:underline;
    color:#FFA015;
}
.confirm-container h1{
    text-align:center;
    text-shadow: 1px 1px 2px #000000;
}
.confirm-container h1:hover{
    cursor: pointer;
    color:#00A7EA;
}
.confirm-container p:hover{
    color:#00A7EA;
    cursor: pointer;
}
.confirm-p{
    font-size:1.5em;
}
.confirm-p:hover{
    color:#00A7EA
}
/*-----------------tabel----------------------------*/
table {
    width:100%;
    margin: 30px auto;
    border-collapse: collapse;
}


thead th {
    background-color: #000000;
    padding:20px 70px;
    text-align:center;
    color:#FFA015;
    font-size:25px;
}

tbody th {
    background-color: #b1b1b1;
    padding:10px;
    border:solid 1px #EBEBEB;
}
tbody tr:nth-of-type(odd) {
    background-color: #EBEBEB;
}
tbody tr {
    background-color: #A1E0F7;
}
tbody tr:hover {
    background-color: #ffffff;
    cursor: pointer;
}

table tr, td, th {
    text-align: left;
    border: solid 1px #b1b1b1;
    padding: 10px;
}
/*----------------contact us-----------------*/
.regular-contact{
    text-align: center;
}
.regular-contact h2{
    color:#FFA015;
    text-shadow:1px 1px 2px #000000;
    font-size:3rem;
}
.regular-contact p{
    text-align: left;
}
.contact-us{
    font-size:1em;
}
.contact-us a{
    color:#00A7EA;
    text-shadow: none;
    text-decoration: underline;
}
.contact-us h2{
    color:#00A7EA;
    text-align:center;
    text-shadow: 1px 1px 2px #000000;
}
.contact-us h2:hover{
    cursor: pointer;
    color:#FFA015;
}
.contact-us p:hover{
    cursor: pointer;
    color:#00A7EA;
}
.contact-map{
    margin-top:30px;
    border:3px solid #b1b1b1;
}
.bod h1{
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    padding:20px;
}
.bod a{
    text-decoration: none;
}
/*.bodlist{
    max-width:960px;
    box-sizing: border-box;
    padding: 20px;    
    background-color: #A1E0F7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 5px;
    margin-right:auto;
    margin-left:auto;
    text-align: center;  
}*/
.row, .column{
    border:1px solid #b1b1b1;
    text-align: center;
}

#btnContainer{
    max-width:960px;
    margin:auto;
    padding:20px;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color:#ffffff;
  }
.column:hover{
    cursor: pointer;
    background-color: #EBEBEB;
}
.row, .column{
    max-width:960px;
    margin:auto;
    box-sizing: border-box;
}
.column img{
    width:25%;
    height:50%;
}
.column img:hover{
    box-shadow: 0 0 20px #000000;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.btn {
    border: 1px solid #000000;
    outline: none;
    padding: 15px 20px;
    background-color: #ffffff;
    cursor: pointer;
    text-align:center;
    
  }
.btn:hover {
    background-color:#b1b1b1;
  }
.btn.active {
    background-color: #000000;
    color: #ffffff;
  }

/*---------------thanks-container------------*/
.thanks-container{
    text-align: center;
    font-size:25px;
}

/*---------------cards-------------------*/

.cards {
    box-sizing: border-box;
    width:100%;
    max-width: 1400px;
    background-color:#EBEBEB;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 30px 0;
    text-align: center;
    display:block;
}

.cards section {
    box-sizing: border-box;
    display: block;
    width: 100%;    
    background-color:#ffffff;
    border: solid 1px #EBEBEB; 
    padding:20px;  
    justify-content: center; 
}
.cards section:hover{
    cursor: pointer;
    background-color:#EBEBEB;
}
 
.cards img {
    box-sizing: border-box;
    display: block;
    
    width:35%;
    
    position: relative;
    
    display: block;
    margin: 0 auto;
}

/*.cards h2{
    color:#00A7EA;
    text-shadow: 1px 1px 1px #000000;
}*/
.cardh1 h1{
    margin-top:20px;
    padding:20px 20px 20px 20px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;

}

@media only screen and (min-width: 35rem) {
    .cards {     
        width: 94%;    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 10px;
    }
    .cards section {    
        margin: 0;
    }

}
/*--------------------city-container----------------------*/
.photo-city img{
    width:100%;
    text-align:center;
    
}
.photo-city img:hover{
    cursor: pointer; 
    box-shadow: 8px 8px 12px ;
} 

/*---------------------history-box-------------------*/
.city-history{
    padding:10px;
    color:#FFA015;
    text-shadow: 1px 1px 3px #000000;
    text-align: center;
    font-size:1.2rem;

}
.city-history:hover{
    color:#ffffff;
    cursor: pointer;
}
.history-box{
    margin:auto;
    max-width:1300px;
    box-sizing: border-box;
    padding: 20px;    
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: left;  
}
.history-box h3{
    text-align: center;
}
.history-box h3:hover{
    cursor: pointer;
    color:#00A7EA;
}
.history-box div{
    border:1px solid #ffffff;
}
.history-box img{
    width:100%;
}
.history-P{
    color: #ffffff; 
    text-shadow: 1px 1px 4px #000000;
    margin-top:10px; 
    font-size:1.2rem;
    text-decoration: none;
    text-align: center;
}
.history-P:hover{
    color:#00A7EA;
}

/*-----------------closeable alert-------------------*/

.weather-alert{
    box-sizing: border-box;
    text-align: center;
    background-color:#00A7EA;
    color:#000000;
    font-size:15px;
    padding:10px;
    display:block;
}
.weather-alert p:hover{
    cursor: pointer;
    font-size:16px;
}
.fa:hover{
    cursor: pointer;
    font-size:40px;
}
