@media only screen and (min-width: 48.75rem) {
    header img{
        width:50px;
        height:55%; 
        margin-top: 10px;
    }
    
    .headings h1 {
        font-size: 3rem;
    }
    h2{
        font-size:2rem;
    }    
    .motto{
        font-size:18px;
    }
    .navigation {
        display: flex;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    
    .navigation a {
        text-align: center;
    }
    
    .navigation li:first-child {
        display: none;
    }
    
    nav ul{
        font-size:20px;
    }

    .contact-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .contact-info {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        padding:20px;
    }

    
    .map-responsive{
        margin-top: 40px;
        margin-right: 30px; 
    }
    .footer-bar {
        font-size:16px;
    }   
    .onlyFri{
        font-size:20px;
        font-weight: bold;
    }
    
    .weather_container {
        grid-template-columns: 1fr 1fr;
    }

    main figcaption {
        display: block;  
    }

   

    
    form {
        max-width: 400px;
      }
}