/*-----preston-4-----*/
body {
    font-size:18px;
    background-color:#d6e4f0;
}

main{
    background-color:#d6e4f0;
    padding:10px;
    max-width:1000px;
    margin:auto;

}

header img{
    width:40px;
    height:50%; 
    margin-top: 25px;
    margin-left:20px;
}


header {
    background-color:#444f5a;
    color:#ffffff;
    text-align: center;
    display:flex;
    justify-content:center; 
}
footer{
    font-size:16px;
    text-align: center;
    padding:10px;
}


h1, h2 {
    font-family:"Hachi Maru Pop";
}

h1{
    font-size:1.5em;
    text-align: left;
    margin-left:15px;
}
.motto{
    font-size:16px;
    text-align: left;
    margin-left:15px;
}
main, footer {
    font-family:"Open Sans";
}
 
footer a {
    color: #ffffff;
    text-decoration: none;
 }

footer a:hover{
    font-weight:bold;
}

 
nav{
    background-color:#c0c5cd;
    text-align:center;
    margin: 0 auto;
}

nav ul{
    list-style-type:none;
    margin:0 auto;
    padding:15px;
    font-size:16px;
}


nav ul li a {
    display:block;
    color:#444f5a;
    text-align:center;
    padding:10px;
    font-family: "Open Sans";
    text-decoration: none;
}

nav a:hover {
    background-color:#ffffff;
    color:#444f5a;
    font-weight:bold;
    border: #0092ca dashed 1px;
}
.active {
    color:#444f5a;
    background-color:#ffffff;
}

h2 {
    color: #444f5a;
    padding:0.5em;
    text-align: center;
    font-size:1.5em;
    text-shadow: 2px 2px 4px #000000;
}


p{
    font-family:"Open Sans";
}


.navigation{
    list-style:none;
    padding:0;
}

.navigation li{
    display:none;
}

.navigation li:first-child {
    display: block;
}

.navigation a{
    display:block;
    padding:0.9rem;
    text-align:center;
    text-decoration:none;
    font-family:"Open Sans";
    color:#444f5a;
}

.navigation a:hover{
    color:#444f5a;
    background-color:#ffffff;
}



.contentbox{
    display:block;
    margin:10px auto;
    border: #444f5a dashed 1px;
    padding:15px;
    background-color: #c0c5cd;
    font-family:"Open Sans";
}

.responsive li {

    display:block;
}


/*-----preston-5-----*/
header, nav {
    width:100%;
    margin: auto;
}

.onlyFri{
    display:none;
    text-align:center;
    padding:5px;
    margin:0 auto;
    padding:1em;
    background-color:#0092ca;
    color:#ffffff;
}

.hero-container{
    position: static;  
}
.hero-container picture {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-container picture img {
    width: 100%;
}

.weather-summary {   
    text-align: center;
    background: radial-gradient(#c0c5cd, #ffffff, #c0c5cd);
    padding: 10px 0;
    color:#444f5a;
 }
 h3{
    border-bottom-width:1px;
    border-bottom-color:#444f5a;
    border-bottom-style: solid;
}
 
.forecast_container{
    width:100%;
}
.forecast_container h3{
    text-align: center;
    font-size:20px;
    padding:10px;
    border:none;
}

.forecastbox {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    width:100%;
    border: 1px solid #444f5a;
    background-color:#ffffff;
}
.forecast {
    flex: 1 1 auto;
    text-align: center;
    border-bottom: 1px solid #444f5a;
    border-left: 1px solid #444f5a;
    background-color:#d6e4f0;
}

    
#day1, #day2, #day3, #day4, #day5{
    display: block;
    background-color: #444f5a;
    border: 1px solid #ffffff;
    padding: 5px;
    font-weight: bold;
    color:#ffffff;
    font-size: 1.5rem;
}
#icon1, #icon2, #icon3, #icon4, #icon5 {
    padding:1rem;
    
}
#temp1, #temp2, #temp3, #temp4, #temp5 {
    display: block;
    padding: 0 5px 5px;
    font-size: 1.2em;
    background-color:#c0c5cd;
    color:#444f5a;
}

#date1, #date2, #date3, #date4, #date5{
    background-color:#c0c5cd;
    color:#444f5a;
    font-size:1em;
    padding:5px;
}
#desc1, #desc2, #desc3, #desc4, #desc5{
    background-color:#444f5a;
    color:#ffffff;
    font-size:10px;
    padding:5px;
    font-weight:bold;
}
article div, article h3, article p {
    color: #444f5a;
    padding: 0 0 10px 0;
    margin: 0;
    padding:10px;
    border:none;
}

article img {
    width: 100%;
    margin: 0;
}

.contact-container{
    padding: 10px 0 0 0;
    margin: 10px auto;
}
.map-responsive{
    display: block;
    margin: 0;
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    box-sizing: border-box;
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

    

.contact-info {
    padding: 0 0 10px 0;
}

.contact-info p {
    padding: 5px;
}
.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 5px;    
}

footer {
    max-width:960px;
    margin: auto;
    background-color:#c0c5cd;
    color: #444f5a;
    padding: 0;
    text-align: center;
    font-family:"Open Sans";
}


.footer-bar p {
    margin: 0;
    padding: 5px;
}

.footer-bar {
    padding: 10px 0;
    background-color: #444f5a; 
    color:#ffffff;  
    text-align: center;
    font-family:"Open Sans"; 
    font-size:14px;
}
.contact-info{
    background-color: #c0c5cd;
}

.onlyFri{
    font-size:16px;
}
.pancake{
    font-size:50px;
}

/*-----gallery-7-----*/
.weather_container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;  
    gap: 30px;
    padding:15px;
}

.weather_container img{
    box-shadow: 5px 5px 10px;
}

figure {
    margin: 0;
}


figure img[data-src] {
    filter: blur(0.2em);
}

figure img {
    width: 100%;
    display: block;
    filter: blur(0em);
    transition: filter 0.5s;
}



figcaption {
    background-color: #ffffff; 
    color:#444f5a;
    font-style: italic;
    padding: 15px;
    text-align: center;
    font-size:20px;
  }


/*-----stormcenter-----*/


form {
    margin: 0 auto;
    max-width: 320px;
    padding:15px;
  }

form fieldset {
    
    margin: 2rem 0;
    border: 1px solid #444f5a;
    border-radius: 10px;
    padding: .5rem 10%;
    background-color:#ffffff;   
}

form legend {
    color: #444f5a;
    margin: 0 1rem;
    padding: 0 .5rem;   
}


form label.top, form div {
    display: block;
    margin-bottom: 20px;
    color: #444f5a;
    font-size: 1rem;
}


form label.top input, form label.top select, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #444f5a;
    border-radius: 4px;
    padding: 0.75rem;
    color: #444f5a;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height:1.3;
}


form label.severity {
    display: block;
    padding-top: 1rem;
    color: #444f5a;
    font-size: 1rem;
    max-width: 20rem;
}


.storm-severity-label-text {
    width: 50%;
    text-align: left;
}

.storm-severity-value {
    color: #444f5a;
    font-weight: bold;
    width: 50%;
    text-align: right;
}


form label.severity input {    
    display: block;
    padding: 0;
    width: 100%;
}

form label.label-storm-region select {
    display: block;
    font-size: 1rem;
    padding: 0.75rem 0;
    width: 100%;
    max-width: 21.5rem;
    border: 1px solid #444f5a;
    border-radius: 4px;
    background-color: #ffffff;
}

.down-arrow {
    text-align: right;
    font-size: 2rem;    
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #444f5a;
}


form textarea {
    height: 6rem;
}

form input.submitButton {
    border: none;
    background-color: #444f5a;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto;
    width: 200px;
    display:block;
}


form label.top input:required {
    border-left: red solid 6px;
}


form label.top input:required:valid {
    border-left: green solid 6px;
}

.thankYou {
    text-align:center;
    max-width:100%;
    padding:10px;
}

/*----------- Home Page --------------*/
main h2 {
    font-size:2em;
}

.towns section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 10% 10% 10% 10% 10%;
    padding: 20px;
    width: 360px;
    height:500px;
    /*border-radius: 5px;*/
    box-shadow: 0 0 10px #444f5a;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 0 10px;
    align-items: center;
    justify-items: center;
    background: radial-gradient(#ffffff, #c0c5cd);
  }

.towns img {
    object-fit: cover;
    width: 330px;
    height: 250px;
    padding: 0;
    margin-top:20px;
  }

  
.towns p {
    text-align: center;
    font-size:16px;
    font-weight:bold;
    font-style:italic;
  }
.towns p1, p2, p3 {
    font-size:20px;
}
  
.towns p0 {
    margin: 15px 0 0;
    font-size:1.5em;
    text-shadow:1px 1px 3px #0092ca;
    font-weight:bold;
  }

.footer-bar a{color:#ffffff;}

.rod{
    width:100%;
}
  
.whereToGo{
      background: radial-gradient(#ffffff, #0092ca);
      padding:20px;
      text-align: center;
    }
.whereToGo ul{
    list-style-type:none;
}
.whereToGo a{
      color:#000000;
}
.whereToGo a:hover{
      font-weight:bold;
}

.pushpin{
    font-size:30px;
}

/*-----------Preston-10-----------------*/
.town{
    /*background: radial-gradient(#ffffff, #444f5a);*/
    max-width: 960px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color:#0092ca;
}


/*----------weather-summary---------*/

.weather-summary {   
    text-align: center;
    background: radial-gradient(#c0c5cd, #ffffff, #c0c5cd);
    padding: 10px 0;
    font-family:"Open Sans";
    color:#444f5a;
 }
 .weather-summary h3 {
    padding: 5px;
    text-align: center;
    margin-top: 0;
    color:#0092ca;
    
}
#curCon, #curTemp, #hiTemp, #windChill, #humidity, #windSpeed {
    color:#0092ca;
}
/*----------forecast-----------*/
.forecast_container {
    margin: 0 auto;
}

.forecast{
    text-align:center;
    padding:0.5rem;
}

#icon1, #icon2, #icon3, #icon4, #icon5 {
    width:60%;
  }
.forecast_container h3{
    color: #0092ca;
    padding:0.5em;
    text-align: center;
    font-size:2em;
    text-shadow: 2px 2px 2px #000000;
}

.fishingMap{
    max-width:960px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding:15px;
}
.fishingMap h3{
    color: #0092ca;
    font-weight:bold;
    font-size:20px;
}
.fishingMap img{
    width:80%;
    padding:10px;
    box-shadow: 0 0 10px #444f5a;
    display: block;
    margin-left: auto;
    margin-right: auto;

} 
h4{
    padding:0 25px;
}   

.ul1, .ul2{
    margin-left:20px;
}
/*--------------Event----------*/
.events {   
    color:black;
    padding: 10px 0;
    background: radial-gradient(#ffffff, #444f5a);
    text-align: center;
}
.events ul{
    list-style-type:none;
}
 
.events h3 {
    text-align: center;
    border-bottom-width:1px;
    border-bottom-color:black;
    border-bottom-style: solid;
    padding-bottom: 5px ;
}
