/*-----home page------*/
body {
    font-size:16px;
}

main{
    background-color:#e8e8e8;
    padding:10px;

}

header, footer {
    background-color:#ee6f57;
    border-radius: 10px 10px 10px 10px;
    color:#060930;
    text-align: center;
    padding:1em;
}

header {
    font-family:"Secular one";
}
main, footer {
    font-family:"Open Sans";
}
 
footer a {
    color: #e8ffb7;
 }

 header, main, footer, nav {
    max-width: 760px;
    margin:0.3rem auto;
    border-radius:5px;
}
 
nav{background-color:#004164;
text-align:center;
}
nav ul{list-style-type:none;
margin:0;
padding:0px;
}
nav ul li a {display:block;
color:#e8ffb7;
text-align:center;
padding:1em;
font-family: "Open Sans";}

nav a:hover {background-color:#e8ffb7;
color:#004164;}


h2 {color: #ffffff;
background-color:#004164;
padding:0.5em;
}
p{font-family:"Open Sans";}
h1{font-family:"Secular one";}
.p1{color:#004164;}
.p2{color:#004164;}
.p3{color:#004164;}

li{color:#004164;
font-family:"Open Sans";}

.colors{width:100%;
min-width: 15%;
margin: auto;
text-align: center;}


.colors  th{width:15%;
height:25em;}


.one{background-color:#E8FFB7;}
.two{background-color:#80c99b;}
.three{background-color:#009237;}
.four{background-color:#FFFFFF;}
.five{background-color:#ACDDE7;}
.six{background-color:#004E64;}



@media only screen and (min-width:37.5em){
    nav ul {display:flex;}
    nav ul li {flex: 1 1 100%}}

